.custom-container {
    border: 1px solid #00404f;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    background-color: #245b6a;
    box-shadow:
        10px 0 30px -10px #7e9191,
        /* Sombra en el borde derecho */
        -10px 0 30px -10px #7e9191;
    /* Sombra en el borde izquierdo */
    border-radius: 10px 10px 0 0;
    /* Borde redondeado en la parte superior (top) y laterales */
}

.custom-table {
    border: 1px solid #00404f;
    box-shadow:
        10px 0 30px -10px #7e9191,
        -10px 0 30px -10px #7e9191,
        0 10px 30px -10px #7e9191;
    border-radius: 0 0 10px 10px;
}

.custom-container-span {
    border: 1px solid #00404f;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    background-color: #407787;
}

.custom-table thead {
    border: 2px solid #756f4b;

}

.custom-table tbody {
    border: 2px solid #a9a27c;
}

.custom-table tbody tr {
    background-color: #e0d8b0;
}

.custom-table tbody td {
    background-color: #f0ebd7;
}


.custom-table thead tr {
    background-color: #a9a27c;
}

.custom-table thead th {
    background-color: #a9a27c;
}

/* Estilos para el tooltip */
.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 85px;
    background-color: #a9a27c;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #245b6a transparent transparent transparent;
}

.custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}