.grid-container {
    height: 100%;
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 25% 1fr ;
    /* Modifica el valor a 25% */
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbarArea navbarArea"
        "sidebarArea contentArea"
        "footerArea footerArea";
    /* Repite el área del footer para que ocupe todo el ancho */
    min-height: 100vh;
    
}

/* Estilos para el navbar superior */
.navbar {
    grid-area: navbarArea;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    background-color: #245b6a !important;
}

/* Estilos para la sidebar lateral */
.sidebar {
    grid-area: sidebarArea;
    padding: 5px;
    border: 1px solid black;
}

/* Estilos para el contenido principal */
.content {
    grid-area: contentArea;
    padding: 5px;
    border: 1px solid black;
}

/* Estilos para el footer */
.footer {
    grid-area: footerArea;
    padding: 5px;
    border: 1px solid black;
}

