.container-wrapper {
    width: 11rem;
    height: 100%;
    background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, #00404f 50%);
}

.sidebar-conteiner {
    position: relative;
    width: 12rem;
    height: 100%;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    box-shadow: 8px 0 0 0 #245b6a;
    background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, #00404f 50%);
    box-shadow: 4px 6px 14px #00000036;

}

.sidebar-conteiner:hover {
    transform: translateX(25px);
    box-shadow: 8px 0 0 0 #9bcad4;
}

.wrapper-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    height: 16%;
    /* Ajusta el tamaño proporcionalmente */
    width: 100%;
    border-radius: 10px;
    color: rgb(137, 131, 131);
    cursor: pointer;
    transition: 400ms;
}

.custom-link {
    background-color: #407787;
}

.sidebar-conteiner:hover>.wrapper-link:not(:hover) {
    filter: blur(4px);
    transform: scale(0.9, 0.12);
}


@media (max-width:1024px) {
    .container-wrapper {
        width: 8rem;
    }

    .sidebar-conteiner {
        width: 9rem;
        /* Ajusta el ancho para pantallas medianas */
    }
    .dropdown-menu.show {
        background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, #00404f 50%);
    }
    .wrapper-link {
        height: 10%;
    }
    .wrapper-link:hover{
        transform: scale(0.9, 0.9);
    }
}

@media (max-width:820px) {
    .container-wrapper {
        display: block;
        height: 100px;
        width: 100%;
    }

    .sidebar-conteiner {
        display: block;
        height: 100px;
        width: 100%;
    }

    .sidebar-conteiner:hover {
        transform: none;
        box-shadow: none;
    }

    .dropdown-menu.show {
        background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, #00404f 50%);
    }

    .wrapper-link {
        height: 45%;
        width: 100%;
        background: none;
        transition: 400ms;
    }
    .wrapper-link:hover{
        transform: scale(0.9, 0.9);
    }
}

