.custom-container-Alum {
    border: 1px solid #00404f;
    padding: 8px;
    align-items: center;
    background-color: #245b6a;
    box-shadow:
        10px 0 30px -10px #7e9191,
        /* Sombra en el borde derecho */
        -10px 0 30px -10px #7e9191;
    /* Sombra en el borde izquierdo */
    border-radius: 10px 10px 0 0;
    /* Borde redondeado en la parte superior (top) y laterales */
}

.custom-table-Alum {
    border: 1px solid #00404f;
    box-shadow:
        10px 0 30px -10px #7e9191,
        -10px 0 30px -10px #7e9191,
        0 10px 30px -10px #7e9191;
    border-radius: 0 0 10px 10px;
}


.custom-table-Alum thead {
    border: 2px solid #756f4b;

}

.custom-table-Alum tbody {
    border: 2px solid #a9a27c;
}

.custom-table-Alum tbody tr {
    background-color: #e0d8b0;
}

.custom-table-Alum tbody td {
    background-color: #f0ebd7;
}


.custom-table-Alum thead tr {
    background-color: #a9a27c;
}

.custom-table-Alum thead th {
    background-color: #a9a27c;
}


@media (max-width: 52em) {/* 52 X 16px = 832px*/
    .custom-table-Alum{
        width: 100%;
        font-size: .9em;
    }
    .custom-table-Alum tr{
       display: flex;
       flex-direction: column; 
       border: 1px solid #a9a27c;
       padding: 1em;
       margin-bottom:1em ;
    }
    .custom-table-Alum td[data-titulo]{
        display: flex;
    }
    .custom-table-Alum td[data-titulo]::before{
        content: attr(data-titulo);
        width:110px ;
        color:#00404f;
        font-weight: bold;
        
    }
    
    .custom-table-Alum thead{
       display: none; 
    }

}
