:root {
    --custom-btt-width: 10em;
    --custom-btt-height: 3.8em;
    --custom-btt-gradient-start: #65727c;
    --custom-btt-border-color: #45484a;
    --custom-btt-gradient-fondo: #000000;
    --custom-btt-border-width: 5px;
    --custom-btt-font-size: 15px;
    --custom-btt-font-weight: bold;
}

.custom-btt-add {
    --custom-btt-gradient-end: #298b4f;
}

.custom-btt-close {
    --custom-btt-gradient-end: #8e3931;
}

.custom-btt {
    width: var(--custom-btt-width);
    position: relative;
    padding: auto;
    margin: 1px;
    height: var(--custom-btt-height);
    background: linear-gradient(145deg, var(--custom-btt-gradient-start), var(--custom-btt-gradient-fondo));
    border: var(--custom-btt-border-width) ridge var(--custom-btt-border-color) !important;
    outline: none;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: var(--custom-btt-font-size);
    font-weight: var(--custom-btt-font-weight);
}

.custom-btt::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
}

.custom-btt:hover::before,
.custom-btt:hover::after {
    transform: scale(0);
}

.custom-btt:hover {
    box-shadow: inset 0px 0px 25px var(--custom-btt-gradient-end);
}

.custom-btt:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
@media (max-width: 390px) {
    :root {
        --custom-btt-width: auto;
        --custom-btt-height: auto;
    }

}